.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 40px;
    box-sizing: border-box;
    /* 박스 사이즈를 늘리지 않기 위해 사용 */
    border-top: 1px solid rgba(123, 123, 123, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__ellipsis{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    display: inline-block;
    position: absolute;
    right: -5px;
}